<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<main class="d-flex flex-column w-100 min-vh-100 justify-content-center align-items-center">
					<h1 class="mb-3">Sorry, we couldn't find that page.</h1>

					<h1 class="f-size-3 mb-5"><i class="far fa-frown"></i></h1>

					<a href="/" class="h1">Back to home</a>
				</main>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>